.nav {
    display: flex;
    flex-direction: row;
    padding: 1%;
    background: #a6c307;
    color: #fff;    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
        
.link {
    margin-right: 2%;
    color: #fff;
    text-decoration: none;
    font-size: large;
    font-family: sans-serif;
}    
.link:hover, .link:focus {
    color: #438f29;
}